.welcome-header {
  margin: 60px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header > i {
  font-size: 100px;
  margin-bottom: 45px;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: #ffdfdf;
}

#login-form input[type="submit"] {
  background-color: var(--basic);
  color: antiquewhite;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form div {
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

#login-form a {
  color: #e7b293;
  transition: color 0.3s ease-in-out;
}
#login-form a:hover {
  color: #9f5f80;
}

#login-form span {
  color: #e7b293;
  margin: 0px 8px;
}

.index__i {
  color: #9f5f80;
}
